
body{
	font-family: "Calisto MT","Bookman Old Style",Bookman,"Goudy Old Style",Garamond,"Hoefler Text","Bitstream Charter",Georgia,serif;
  color: #585858;
}

#home-page .wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*
===========================
GENERAL STYLES
===========================
*/
button,a,div,span,img{
  -webkit-transition:all 0.2s ease;
  transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
  -ms-transition:all 0.2s ease;
}

::-webkit-input-placeholder {
  color:#404042 !important;
  font-family: "Lato","HelveticaNeue","Helvetica Neue",sans-serif;
}
:-moz-placeholder {
  color:#404042 !important;
  font-family: "Lato","HelveticaNeue","Helvetica Neue",sans-serif;
}
::-moz-placeholder {
  color:#404042 !important;
  font-family: "Lato","HelveticaNeue","Helvetica Neue",sans-serif;
}
:-ms-input-placeholder {
  color:#404042 !important;
  font-family: "Lato","HelveticaNeue","Helvetica Neue",sans-serif; 
}
/*BreadCrumb*/
#home-page .breadcrumb {
  font-size: 13px;
/*  margin-bottom: 30px;
  margin-top: -15px;*/
  padding-top: 15px;
  height: 52px;
  opacity: 0.8;
  background: transparent;
}

#home-page .breadcrumb a:first-child,#home-page .breadcrumb 
span:first-child {
  padding-left: 0;
}

#home-page .breadcrumb a,#home-page .breadcrumb span {
  display: inline-block;
  padding: 0 7px 0 0;
  margin-right: 7px;
  overflow: hidden;
  color: #585858;
}

/*
===========================
END OF GENERAL STYLES
===========================
*/

/*
================================================
TOP HEADER
================================================
*/
#home-page .top-header{
  background-color: #373738;
  color:white;
  border-bottom: 3px solid #C91111;
  padding: 8.57143px 0;
  font-family: "Lato","HelveticaNeue","Helvetica Neue",sans-serif;
}

#home-page .top-header .wrapper .contacts,
#home-page .top-header .wrapper .accounts-currency{
  margin:auto 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 600;
  padding-left: 0;
  line-height: 2;
}

/*
========================================================
CONTACTS DIV
========================================================
*/
#home-page .top-header .wrapper .contacts > ul{
  list-style-type: none;
  display: inline-block;
  margin-bottom: 0px;
  padding-left: 0
}

#home-page .top-header .wrapper .contacts > ul li{
	display: inline;
  margin-right: 20px;
  font-size: 12px;
  line-height: 2;
}

#home-page .top-header .wrapper .contacts > ul li:last-child{
  margin-right: 0
}



/*
========================================================
GENERAL CLASSES BETWEEN TWO DIVS 
========================================================
*/

#home-page .top-header .wrapper .contacts > ul li a,
#home-page .top-header .wrapper .accounts-currency .accounts a{
	color:white;
}

/*
========================================================
ACCOUNT-CURRENCY DIV
========================================================
*/
#home-page .top-header .wrapper .accounts-currency{
	text-align: right;
}

#home-page .top-header .wrapper .accounts-currency .accounts,
#home-page .top-header .wrapper .accounts-currency .currency{
	display: inline-block;
	vertical-align: middle;
}

#home-page .top-header .wrapper .accounts-currency .accounts{
	margin-right: 15px;
}

#home-page .top-header .wrapper .accounts-currency .accounts a {
  text-transform: capitalize;
}

#home-page .top-header .wrapper .accounts-currency .accounts span {
  font-weight: 100;
  margin: 0px 5px;
}

/*#home-page .top-header .wrapper .accounts-currency .currency{
	width:30%;
}
*/
#home-page .top-header .wrapper .accounts-currency .currency .dropdown-menu{
  right: 0 !important;
  width: 80px;
  left:auto;
  min-width: 80px;
  z-index: 6000;
}

#home-page .top-header .wrapper .accounts-currency .currency .dropdown > span{
  margin: 0 !important;
  font-size: 1.2em !important;
  font-weight: 100;
}

#home-page .top-header .wrapper .accounts-currency .currency .dropdown a.language{
  position: relative;
  margin-right: 5px !important; 
  display:inline-block !important;
  color:white;
  cursor: pointer;
}

#home-page .top-header .wrapper .accounts-currency .currency .dropdown a.language:hover{
  text-decoration: none;
}

#home-page .top-header .wrapper .accounts-currency .currency .dropdown button{
  background-color: rgb(250, 248, 248);
  color: black;
  border: 0;
  font-weight: 100;
  margin-left: 2px;
}

#home-page .top-header .wrapper 
.accounts-currency .currency .dropdown button span.caret{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 3px dashed;
  border-top: 3px solid\9;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  font-weight: 100;
}

#home-page .top-header .wrapper .accounts-currency .currency .dropdown-menu ul li a{
  color:black;
}

/*
================================================
END OF TOP HEADER
================================================
*/

/*
=====================================================
SITE HEADER
=====================================================
*/
#home-page header.site-header > nav.navbar{
	margin-bottom:0px; 
}

#home-page header.site-header nav.first-nav{
  padding: 24px 0;
  background-color: #FAFAFA;
  z-index: 5000;
  border-radius: 0;
/*  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);*/
}

#home-page header.site-header  nav.first-nav .dropdown-menu{
  z-index: 2000;
  min-width: 250px;
}

#home-page header.site-header nav.first-nav ul.belongto-firstnav
li a {
  border: 1px solid #e2e2e1;
  background-color: white;
  color: #404042;
  padding: 12px 13px;
  line-height: 21px;
}

#home-page header.site-header nav.first-nav ul.belongto-firstnav
li a:hover
{
  color: #585858;
  background: #f2f2f2;
}

#home-page header.site-header nav.first-nav ul.belongto-firstnav
li.dropdown a {padding: 0;}

#home-page header.site-header nav.first-nav a.dropdown-toggle span {
  display: inline-block;
  height: 45px;
  vertical-align: middle;
  padding: 8px 12px;
  line-height: 35px;
  border-right: 1px solid gainsboro;
}

#home-page header.site-header nav.first-nav ul.belongto-firstnav
 > li.wish > a {
  margin-right: 15px;
}

#home-page header.site-header nav.first-nav ul.belongto-firstnav 
ul.dropdown-menu li.product-item {
  padding: 6px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #e2e2e1;
}

#home-page header.site-header nav.first-nav ul.belongto-firstnav 
ul.dropdown-menu li.product-item .pull-left.img-product{
  width:40%;
  height:80px;
}

#home-page header.site-header nav.first-nav ul.belongto-firstnav 
ul.dropdown-menu li.product-item .pull-left.img-product > img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

#home-page header.site-header nav.first-nav ul.belongto-firstnav li.dropdown
ul.dropdown-menu li.product-item .pull-right.product-details{
  position: relative;
  width:57%;
  padding-left: 8px;
}

#home-page header.site-header nav.first-nav ul.belongto-firstnav li.dropdown
ul.dropdown-menu li.product-item .pull-right.product-details > span{
  display: block;
  color: #404042;
}

#home-page header.site-header nav.first-nav ul.belongto-firstnav li.dropdown
ul.dropdown-menu li.product-item div.price{
  clear: both;
  font-size: 16px;
}

#home-page header.site-header nav.first-nav ul.belongto-firstnav li.dropdown
ul.dropdown-menu li.empty-cart{
  /*display: none;*/
}

#home-page header.site-header nav.first-nav ul.belongto-firstnav 
ul.dropdown-menu li.buy-buttons{
  padding: 6px;
  text-align: center;
}

#home-page header.site-header nav.first-nav ul.belongto-firstnav 
ul.dropdown-menu li.buy-buttons div.total-price{
  font-size: 18px;
  width:100%;
  text-align: left;
  margin: 5px 0px;
} 

#home-page header.site-header nav.first-nav ul.belongto-firstnav 
ul.dropdown-menu li.buy-buttons button{
  width: 100%;
  border-radius: 1px;
}

#home-page header.site-header nav.first-nav form.navbar-form.navbar-right{
/*  border: 1px solid #e2e2e1;*/
  border-radius: 2px;
  display: inline-block;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 30%;
}

#home-page header.site-header nav.first-nav 
form.navbar-form.navbar-right input{
  background-color: #fff;
  color: #585858;
  height: 47px;
  border-radius: 2px;
  width:100%;
  border-color: #e2e2e1;
  font-family: "Lato","HelveticaNeue","Helvetica Neue",sans-serif;
  font-size: 14px;
}

#home-page header.site-header nav.first-nav 
form.navbar-form.navbar-right button{
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 10px;
  width: 45px;
  margin: 0;
  border: 0 none;
  background: none;
  text-align: center;
  cursor: pointer;
}

#home-page header.site-header > .sticky-wrapper  
.first-nav div.navbar-header
 .navbar-brand{
	padding: 5px 5px;
  height: 46px;
  width: 180px;
}

#home-page header.site-header  nav.first-nav a.navbar-brand img{
  max-height: 100%;
  max-width: 100%;
}

#home-page header.site-header .navbar-static-top.second-nav{
	background-color: white;
}

#home-page header.site-header .navbar-static-top.second-nav 
.dropdown-menu>li>a {
  font-size: 16px;
}

#home-page header.site-header .navbar-static-top.second-nav 
ul.navbar-nav>li>a{
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #5e5a5a;
}

#home-page header.site-header .navbar-static-top ul.dropdown-menu{
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
}

@media (min-width:769px){
#home-page header.site-header .navbar-static-top li.dropdown:hover ul.dropdown-menu{
	display: block;
}
}
/*
=====================================================
END OF SITE HEADER
=====================================================
*/


/*
===========================================
DIV COLLECTIONS PRODUCT 
===========================================
*/

#home-page .collections{
	padding-bottom: 25px;
  padding-top: 20px;
/*  background: url(../img/bg.jpg) no-repeat center center fixed;*/
  background-size: cover;
  color: white;
/*  box-shadow: inset 0px -6px 5px -2px rgba(0,0,0,0.5);*/
  background-color: rgb(24, 124, 188);
  display: none;
}

#home-page .collections .wrapper > div h1{
  margin-top: 0px;
  margin-bottom: 25px;
}

#home-page .collections .owl-controls {
  margin-top: 15px;
}

#home-page .collections .owl-controls .owl-buttons div {
  background:white;
  color: #585858;
  opacity: 1
}

#home-page .collections div.single-collection .thumbnail {
	width:100px;
	height:120px;
	margin:auto;
	border:0;
	display: inline-block;
	vertical-align: middle;
  position: relative;
}

#home-page .collections div.single-collection .thumbnail img{
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#home-page .collections div.single-collection .thumbnail:hover{
	border:0;
}

#home-page .collections .div-all-collections{
	margin-top: 30px
}

#home-page .collections  a.all-collections{
  cursor: pointer;
  border-radius: 2px;
  font-size: 13px;
  text-transform: uppercase;
  border: 1px solid white;
  color: white;
  transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
}

#home-page .collections  a.all-collections:hover{
  background: white;
  border: 1px solid #8a8686;
  color: #8a8686;
}

#home-page .collections .owl-controls .owl-page span {
    background: white;
}

/*
===========================================
END OF DIV COLLECTIONS PRODUCT 
===========================================
*/

/*
===========================================
SALES DIV
===========================================
*/
#home-page div.sales{
	padding: 8px 15px;
	background-color: #F2F2F2;
}

#home-page div.sales > div.row.center-block{
	margin:auto;
}

#home-page div.sales a.thumbnail{
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 0px;
  background-color: transparent;
  border: 0;
}

#home-page div.sales a.thumbnail img{
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}

#home-page div.sales a.thumbnail:hover{
	border-color:grey;
}

/*
===========================================
END OF SALES DIV
===========================================
*/

/*
=========================================================
MAIN CONTENT
========================================================= 
*/
main.main-content{
  background-color: #F2F2F2;
}
/*
=========================================================
END OF MAIN CONTENT
========================================================= 
*/

/*
==========================================
PRODUCTS DIV
==========================================
*/
#home-page div.products{
  padding: 8px 15px;
}

#home-page div.products div.section-header{
  display: table;
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 1px solid #d8d8d8;
  text-align: center;
  position: relative;
}

#home-page div.products div.section-header p.h1{
  display: inline-block;
  border-bottom: 1px solid #373738;
  margin: 0;
  color: #000;
  font-size: 1.733em;
}



/*
=========================================
SHOW PRODUCTS
=========================================
*/
#home-page div.products .row.show-products{
  text-align: center;
}

#home-page div.products .row.show-products.owl-carousel .single-product {
  display: inline-block;
  width:100%;
}

#home-page div.products .row.show-products .owl-controls .owl-buttons{
  position: absolute;
  top: -53px;
  right: 15px;
  padding-right: 8px;
  padding-top: 4px;
  background-color: #f2f2f2;
  border-radius: 2px;
}

#home-page div.products .row.show-products 
.owl-controls .owl-buttons div{
  background: #373738;
  color: #fff;
  width: 25px;
  height: 25px;
  margin: 5px 0 5px 10px;
  padding: 0;
  border-radius: 2px;
}

#home-page div.products .row.show-products 
.owl-controls .owl-buttons .owl-next:after {
  font-family: 'FontAwesome';
  font-weight: normal;
  content: "\f105";
  font-size: 20px;
}

#home-page div.products .row.show-products 
.owl-controls .owl-buttons .owl-prev:after {
  font-family: 'FontAwesome';
  font-weight: normal;
  content: "\f104";
  font-size: 20px;
}

#home-page div.products .single-product .caption h5.product-name {
  color: #585858;
  text-transform: uppercase;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;     /* fallback */
  max-height: 32px;      /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

#home-page div.products .single-product .caption .price{
  font-size: 15px
}

#home-page div.products .single-product .caption .price .new-price{
	color: #585858;
}

#home-page div.products .single-product .caption p.price .old-price{
	color:#B2251A;
  text-decoration: line-through;
}

#home-page div.products .single-product .thumbnail{
	border:0;
	background-color: transparent;
  display: inline-block;
  font-family: "Lato","HelveticaNeue","Helvetica Neue",sans-serif;
}

#home-page div.products .single-product .thumbnail div.preview-img{
    position:relative;
	  width:100%;
	  height:240px;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

#home-page div.products .single-product .thumbnail div.preview-img img{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/*
=================================================
Additional TEXT
=================================================
*/

#home-page div.products .single-product .thumbnail div.preview-img 
.additional-text{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: #373738;
  border: 6px solid #5d5d5f;
  opacity: 0;
  visibility: none;
  text-align: center;
    -webkit-animation: fancyFadeOut 1s;
  -moz-animation: fancyFadeOut 1s;
  -ms-animation: fancyFadeOut 1s;
  -o-animation: fancyFadeOut 1s;
  animation: fancyFadeOut 1s;
}

#home-page div.products .single-product .thumbnail div.preview-img
.additional-text a {
  color: #fff;
  outline: none;
  display: block;
  height: 100%;
  text-decoration: none;
}

 #home-page div.products .single-product .thumbnail div.preview-img
.additional-text .rating {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#home-page div.products .single-product .thumbnail div.preview-img
.additional-text i {font-size: 30px;}

#home-page div.products .single-product .thumbnail div.preview-img 
.additional-text p {
  line-height: 1.3;
}

#home-page div.products .single-product .thumbnail div.preview-img 
.additional-text .spr-badge-starrating {
  color: #ed7e1d;
  font-size: inherit;
  margin: 0 3px 0 0;
}

#home-page div.products .single-product .thumbnail div.preview-img 
.additional-text .spr-badge-starrating i.fa{font-size:20px;}

#home-page div.products .single-product .thumbnail div.preview-img 
.additional-text .spr-badge-caption{display: block}

/*
=================================================
END OF Additional TEXT
=================================================
*/

#home-page div.products .single-product .thumbnail div.preview-img span.sale{
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 900;
  padding: 6px 10px;
  vertical-align: text-bottom;
  background: #B2251A;
  color: #fff;
  opacity: 0.9;
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 1000;
}

#home-page div.products div.show-products  .single-product .thumbnail .caption{
  text-align: left;
  padding-left: 0;
} 

#home-page div.products div.show-products  .single-product .caption 
 div.detail-container div.hidden-details{
 	display: inline-block;
 	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
 }

#home-page div.products div.show-products  .single-product .caption 
div.detail-container .btn-default{
  padding: 8px 12px;
  border-radius: 2px;
  border-color: #373738;
  background-color: #373738;
  color: white;
}

#home-page div.products div.show-products  .single-product .caption 
div.detail-container .btn-default.symbol{
  display: none;
}

#home-page div.products div.show-products  .single-product .caption 
div.detail-container .btn-default:hover{
    background-color: #2a2a2b;
}

#home-page div.products div.show-products  .single-product .caption 
 div.detail-container div.hidden-details .button-list{
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 1px solid;
  border-color: #373738;
  background: transparent;
  color: #373738;
  white-space: nowrap;
  padding: 8px 8px 8px;
  border-radius: 2px;
  opacity: 0;
  visibility: none;
  -webkit-animation: fadeOutRight 1s;
  -moz-animation: fadeOutRight 1s;
  animation: fadeOutRight 1s;
}

#home-page div.products div.show-products  .single-product .caption 
 div.detail-container div.hidden-details .button-list:hover{
  border-color: #373738;
  background: #373738;
  color: #fff;
}

/*#home-page div.products div.show-products  .single-product .caption 
 div.detail-container div.hidden-details .tooltip {
  border-color: #373738;
  background-color: #373738
}*/


/*
========================================================
HOVER EFFECTS
========================================================
*/

#home-page div.products .single-product .thumbnail div.preview-img img.top:hover {
  opacity:0.7;
}

#home-page div.products .single-product .thumbnail:hover div.hidden-details .button-list{
  -webkit-animation: fadeInRight 0.5s !important;
  -moz-animation: fadeInRight 0.5s !important;
  opacity: 1 !important;
  visibility: visible !important;
}

#home-page div.products .single-product .thumbnail:hover div.preview-img img.top{
  opacity: 0.7;
}

#home-page div.products .single-product .thumbnail:hover div.preview-img .additional-text{
  -webkit-animation: fancyFadeIn 1s;
  -moz-animation: fancyFadeIn 1s;
  -ms-animation: fancyFadeIn 1s;
  -o-animation: fancyFadeIn 1s;
  animation: fancyFadeIn 1s;
  opacity: 0.8;
  visibility: visible;
}

@media (min-width: 1199px){

#home-page div.products.nonslider-products .row.show-products 
.single-product.col-lg-2{
  width: 20%;
}

}

#home-page div.products.nonslider-products .row.show-products 
.single-product.col-lg-2:first-child{
  margin-left:0px;
}

/*
==========================================
END OF PRODUCTS DIV
==========================================
*/


/*
==========================================
WELCOME AND PARALLLAX SECTION
==========================================
*/
#home-page div.welcome-parallax{
  text-align: center;
  min-height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  width:100%;
  background:url(https://s3-us-west-2.amazonaws.com/skopenow/static/BG.jpg) no-repeat center center fixed;
  background-size: cover;
  box-shadow: inset 0px -6px 5px -2px rgba(0,0,0,0.5);
  position: relative;
}

#home-page div.welcome-parallax:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #E2001A, #E2001A);
  opacity: 0.6;
  height:400px;
}

#home-page div.welcome-parallax div.container-text{
  display: table;
  height: 400px;
  width:100%;
  position: relative;
}

#home-page div.welcome-parallax div.container-text >div{
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  color: #fff;
}

#home-page div.welcome-parallax div.container-text >div p{
  font-size: 18px;
  font-family: "Lato","HelveticaNeue","Helvetica Neue",sans-serif;
  font-weight: 500;
  padding: 0px 48px;
  margin-top: 30px;
}

/*
==========================================
END OF WELCOME AND PARALLLAX SECTION
==========================================
*/

/*
==========================================
HOME-BLOCK SECTION
==========================================
*/
#home-page  div.home-blocks{
  overflow: hidden;
}

#home-page  div.home-blocks .small-pic-wrapper{
  height: 150px;
  display: table;
  table-layout: fixed;
  overflow: hidden;
  float: left;
  margin-right: 15px;
  width: 40%;
} 

#home-page  div.home-blocks .small-pic-wrapper .pic-small{
  text-align: center;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  background-color: white;
}

#home-page  div.home-blocks .small-pic-wrapper .pic-small a img{
  width: 100%;
  height: auto;
}

#home-page  div.home-blocks .small-text-wrapper{
  float: left;
  width: 45%;
  text-align: left;
}

#home-page  div.home-blocks .small-text-wrapper p.list-title{
  padding: 0;
  margin-bottom: 5px;
  font-family: "Lato","HelveticaNeue","Helvetica Neue",sans-serif;
  text-transform: uppercase;
  line-height: 1.3;
  font-size: 90%;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 32px;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

#home-page  div.home-blocks .small-text-wrapper div.product-price{
  padding: 5px 0;
  margin-bottom: 5px;
}

#home-page  div.home-blocks .small-text-wrapper div.product-price > span{
  display: block;
}

#home-page  div.home-blocks .small-text-wrapper div.product-price .old-price{
  color: #B2251A;
  text-decoration: line-through;
}

#home-page  div.home-blocks .small-text-wrapper div.product-price .new-price{
  color: #585858;
}

#home-page  div.home-blocks .small-text-wrapper div.hidden-details{
  margin-top: 12px;
  display: table;
  width:100%;
  display: inline-block;
}

#home-page  div.home-blocks .small-text-wrapper 
.spr-badge .spr-badge-starrating {
  color: #ed7e1d;
  font-size: inherit;
  margin: 0 3px 0 0;
}

 #home-page  div.home-blocks .small-text-wrapper  
 div.hidden-details .button-list {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 1px solid;
  border-color: #373738;
  background: transparent;
  color: #373738;
  white-space: nowrap;
  padding: 8px 8px 8px;
  border-radius: 2px;
  cursor: pointer;
}

 #home-page  div.home-blocks .small-text-wrapper  
 div.hidden-details .button-list:hover{
  border-color: #373738;
  background: #373738;
  color: #fff;
}

#home-page div.home-blocks .small-text-wrapper div.hidden-details 
.button-list.cart:hover {
  background-color: white;
  color:#373738;
}

#home-page  div.home-blocks .small-text-wrapper  
 div.hidden-details .button-list.cart {
  background-color: #373738;
  color: #fff;
}

/*
==========================================
END OF HOME-BLOCK SECTION
==========================================
*/


/*
==========================================
SOCIAL SECTION
==========================================
*/

 #home-page div.social{
  background: #3d3d3d;
  border-top: 3px solid  #B2251A;
  border-bottom: 1px solid #303030;
  padding: 15px 0;
  text-align: center;
}

 #home-page div.social .wrapper{
    margin:auto;
}

  #home-page div.social .wrapper a {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  font-family: 'FontAwesome';
  font-weight: normal;
  background-color: #ffffff;
  color: #242424;
  line-height: 0;
  margin-right: 60px;
  transition:all 0.2s ease;
  -webkit-transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
  -ms-transition:all 0.2s ease;
  -o-transition:all 0.2s ease;
}

#home-page div.social .wrapper a:last-child{margin-right: 0;}

#home-page div.social .wrapper a i{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 24px;
}

 #home-page div.social .wrapper a.twitter:hover{
  background-color: #55acee;
  color: #fff;
}

 #home-page div.social .wrapper a.facebook:hover{
  background-color: #3B5998;
  color: #fff;
}

 #home-page div.social .wrapper a.instagram:hover{
  background-color: #4F7CA2;
  color: #fff;
}

#home-page div.social .wrapper a.flickr:hover{
  background-color: #FF0080;
  color: #fff;
}

#home-page div.social .wrapper a.pinterest:hover{
  background-color:rgb(189, 33, 38);
  color: #fff;
}

#home-page div.social .wrapper a.youtube:hover{
  background-color: #C91D20 !important;
  color:#fff !important;
}

#home-page div.social .wrapper a.vimeo:hover{
  background-color: rgb(0, 173, 239);
  color:#fff;
}

/*
==========================================
END OF SOCIAL SECTION
==========================================
*/

/*
==========================================
FOOTER SECTION
==========================================
*/

#home-page footer.site-footer{
  padding: 30px 0px 20px;
  color: black;
  max-width: 1200px;
  margin: auto;
}

#home-page footer.site-footer h3 {
  margin: 0 0 15px 0;
  color: #000;
  border-bottom: 3px solid #cacaca;
  display: inline-block;
  padding-bottom: 5px;
  font-size: 110%;
}

#home-page footer.site-footer form{
  margin-bottom: 30px;
  position: relative;
  display: table;
  border-collapse: separate;
  font-family: "Lato","HelveticaNeue","Helvetica Neue",sans-serif;
}

#home-page footer.site-footer form .input-group-field {
  height: 42px;
  max-width: 100%;
  display: block;
/*  margin: 0 0 20px;*/
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 2px 0 0 2px;
  border-right: none;
  vertical-align: middle;
  font-size: 1em;
  padding: 8px 10px;
  line-height: 1.42;
  width:100%;
}

#home-page footer.site-footer form .input-group-btn {
  position: relative;
  white-space: nowrap;
  width: 1%;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}

#home-page footer.site-footer form .input-group-btn .btn-secondary {
  background-color: #B2251A;
  color: #fff;
  padding: 8px 14px;
  height: 42px;
  border-radius: 0 2px 2px 0;
  display: inline-block;
  margin: 0;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid transparent;
  -webkit-user-select: none;
  font-size: 13px;
}

#home-page footer.site-footer form .input-group-btn .btn-secondary:hover{
  background-color: #C72C20;
  border-color: #C72C20;
}

#home-page footer.site-footer a {
  color: #000;
}

#home-page footer.site-footer a:hover {
  text-decoration: none;
}

#home-page footer.site-footer p{
    margin: 0 0 15px 0;
}

#home-page footer.site-footer hr.hr-small{
  border-top-color: #cacaca;
  clear: both;
  border-top: solid #d8d8d8;
  border-width: 1px 0 0;
  margin: 15px 0;
}

#home-page footer.site-footer ul.legal-links{
  width:100%;
  display: block;
  list-style-type: none;
}

#home-page footer.site-footer ul.legal-links.copyright{
  padding-left: 0px;
}

#home-page footer.site-footer ul.legal-links.copyright > li span{
  margin-left: 15px;
}

#home-page footer.site-footer ul.legal-links li {
/*  padding: 0 15px 0 0;*/
  font-size: 13px;
  line-height: 30px;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 15px;
}

#home-page footer.site-footer ul.legal-links li:last-child{
  margin-right: 0px;
}

#home-page footer.site-footer ul.payment-icons{
  text-align: right;
}

#home-page footer.site-footer ul.payment-icons li {
  margin: 0 7.5px 7.5px;
  color: #242424;
  cursor: default;
}

#home-page footer.site-footer ul.payment-icons li:last-child{
  margin-right: 0px;
}

#home-page footer.site-footer ul.payment-icons li i {
  font-size: 28px;
}