
@media (max-width: 1200px){

/*
=================================
PRODUCT
=================================
*/

#home-page div.products div.show-products  .single-product .caption 
div.detail-container .btn-default.symbol{
  display: inline-block;
}

#home-page div.products div.show-products .single-product 
.caption div.detail-container .btn-default.select {
	display: none;
}
/*
=================================
END OF PRODUCT
=================================
*/

/*
=================================
HOME BLOCKS
=================================
*/
#home-page div.home-blocks .small-text-wrapper div.hidden-details 
.button-list {
  padding: 6px 3px 2px;
  font-size: 12px;
}
/*
=================================
END OF HOME BLOCKS
=================================
*/

}


@media (max-width: 992px){

/*
=================================
PRODUCT
=================================
*/
#home-page div.products .single-product .thumbnail
 div.preview-img .additional-text {
 	display: none;
}
/*
=================================
END OF PRODUCT
=================================
*/


/*
=================================
SOCIAL
=================================
*/

#home-page div.social .wrapper a {
  margin-right: 40px;
}

/*
=================================
END OF SOCIAL
=================================
*/

/*#home-page div.social .wrapper a i {
	font-size: 20px;
}
*/

/*
=================================
HEADER
=================================
*/
#home-page .top-header .wrapper .accounts-currency .accounts {
	display: none;
}

#home-page .top-header .wrapper .accounts-currency .currency {
	width:100%;
}
/*
=================================
END OF HEADER
=================================
*/

#home-page div.products.nonslider-products .row.show-products.listView .single-product .thumbnail div.preview-img {
  float: left;
  width: 33%;
  display: inline-block;
  height: 200px;
}
#home-page div.products.nonslider-products .row.show-products.listView .single-product .thumbnail .caption {
  margin-left: 25px;
  /* clear: both; */
  float: left;
  width: 60%;
  display: inline-block;
  padding-top: 0;
}

}


@media (max-width: 768px){

/*
=================================
HEADER
=================================
*/
#home-page header.site-header nav.first-nav {
  padding: 8px 0;
}
#home-page header.site-header nav.first-nav div.navbar-collapse {
  float: right;
  border: 0;
}

#home-page header.site-header nav.first-nav form.navbar-form.navbar-right{
	border:0;
	display: none;
}

#home-page header.site-header nav.first-nav 
.navbar-nav.navbar-right.belongto-firstnav{
	display: inline-block;
}

#home-page header.site-header nav.first-nav 
.navbar-nav.navbar-right.belongto-firstnav li{
	display: inline-block;
}

 #home-page header.site-header nav.first-nav .navbar-header {
  float: left;
}
/*
=================================
END OF HEADER
=================================
*/	

/*
=================================
PRODUCT
=================================
*/
#home-page div.products .single-product .thumbnail div.preview-img {
  height: 240px;
}
/*
=================================
END OF PRODUCT
=================================
*/


/*
=================================
Social
=================================
*/
#home-page div.social .wrapper a {
  width: 40px;
  height: 40px;
  /*margin-right: 30px;
*/
  margin: 7.5px 30px 7.5px 0;
}

#home-page div.social .wrapper a i {
	font-size: 20px;
}
/*
=================================
END OF Social
=================================
*/

/*
================================
Advanced Search
===============================
*/
#home-page div.adv-search div.grid aside.sidebar{
	display: none;
}

#home-page div.adv-search div.grid section.all-products.adv-search{
	width:100%;
}

#home-page section.all-products.adv-search div.nonslider-products .sorting-filters
 .section-header-right .toggle-filters {
 	display: inline-block;
}

#home-page section.all-products.adv-search 
div.nonslider-products .sorting-filters .section-header-left{
	display: none;
}

#home-page section.all-products.adv-search 
div.nonslider-products .sorting-filters .section-header-right {
	text-align: center;
}

#home-page section.all-products.adv-search div.nonslider-products .sorting-filters 
.section-header-left .collection-view {
	display: none;
}

#home-page div.products.nonslider-products 
.row.show-products.listView .single-product .thumbnail .caption {
	width:58%;
	padding-top: 0;
}

#home-page div.products.nonslider-products .row.show-products.listView 
.single-product .thumbnail div.preview-img {
	width:34%;
	height: 200px;
}

}

@media (max-width: 650px){

/*
=============================
TOP HEADER
=============================
*/
#home-page .top-header .wrapper .accounts-currency .currency 
.dropdown > span{
	display: none;
}

/*
=================================
Non slider products
=================================
*/
#home-page div.products.nonslider-products .row.show-products 
.single-product.col-lg-2 {
	width:50%;
	padding-left: 10px;
	padding-right: 10px;
}
/*
=================================
END OF Non slider products
=================================
*/
}

@media (max-width: 600px){

/*
SALES
*/
#home-page div.sales div.col-lg-4.col-md-4.col-sm-4.col-xs-4 {
	width:100%;
}


}

@media (max-width: 550px){
#home-page .top-header .wrapper .contacts > ul li{
	display: block;
}
}

@media (max-width: 500px){
/*
=================================
Sales
=================================
*/	
#home-page div.sales  div.row.center-block 
div.col-lg-4.col-md-4.col-sm-4.col-xs-4{
	width:100%;
}
/*
=================================
END OF Sales
=================================
*/

}



@media (max-width: 480px){


/*
=================================
products
=================================
*/
#home-page div.products div.show-products .single-product
 .caption div.detail-container div.hidden-details {
	margin-top: 5px;
}
/*
=================================
END products
=================================
*/

/*
=================================
Non slider products
=================================
*/
#home-page div.products.nonslider-products .row.show-products 
.single-product.col-lg-2 {
	width:100%;
}
/*
=================================
END OF Non slider products
=================================
*/


/*
=================================
HEADER
=================================
*/

#home-page .top-header .wrapper .contacts ul li.email-envelope{
  display: block;
}

/*
=================================
END HEADER
=================================
*/

.section-header.pagination-border-top .section-header--left {
	display: none;
}


/*
============================================
ADVANCED Search
============================================
*/
#home-page div.products.nonslider-products .row.show-products.listView .single-product .thumbnail .caption {
  width: 50%;
  margin-left: 15px;
}
#home-page div.products.nonslider-products .row.show-products.listView .single-product .thumbnail div.preview-img {
  width: 43%;
  height: 180px;
}
/*
============================================
END OF ADVANCED Search
============================================
*/

}

@media (max-width: 400px){



/*
=================================
HEADER
=================================
*/

#home-page .top-header .wrapper .contacts > ul li span:nth-of-type(1) {
  display: inline;
}

#home-page .top-header .wrapper .contacts > ul li span {
  display: block;
}

#home-page header.site-header nav.first-nav 
ul.belongto-firstnav > li.wish > a {
   margin-right: 0px; 
}

#home-page header.site-header nav.first-nav ul.belongto-firstnav li a{
 padding: 8px 8px;
}

#home-page header.site-header nav.first-nav a.dropdown-toggle span {
  height: 37px;
  padding: 8px 8px;
  line-height: 24px;
}

#home-page header.site-header > .sticky-wrapper 
.first-nav div.navbar-header .navbar-brand {
  padding: 0px 0px;
  height: 32px;
  width: 140px;
}

/*
=================================
END OF HEADER
=================================
*/

/*
============================================
ADVANCED Search
============================================
*/
#home-page div.products.nonslider-products .row.show-products.listView .single-product .thumbnail .caption {
  width: 100%;
  margin-left: 0px;
}
#home-page div.products.nonslider-products .row.show-products.listView .single-product .thumbnail div.preview-img {
  width: 100%;
}

}

@media (max-width: 340px){
	
}